#lutCanvas {
  display: none;
}

.label--selector {
  background-color: black;
  color: #f0f0f0;
}

.selector {
  display: table-cell;
  float: left;
  width: 50%;
  background-color: white;
}

.canvas {
  position: relative;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: x-large;
}

h2 {
  font-size: x-large;
  font-style: oblique;
}

#dropmsg {
  color: #0f0f0f;
}

#lutmsg {
  color: white;
}

#jsError {
  color: white;
  display: flex;
  width: 100%;
  background-color: #006b54;
}

#dropbox {
  border: 1px solid#0F0F0F;
  display: flex;
  width: 50%;
  float: left;
  background-color: #fa7268;
  padding: 10px;
}

#lutbox {
  border: 1px solid #0f0f0f;
  display: flex;
  width: 50%;
  inline-size: auto;
  background-color: #004680;
  padding: 10px;
}

.title {
  font-weight: 600;
  color: Teal;
}

.form {
  width: 50%;
  margin: auto;
  padding: 10px;
  padding-bottom: 25px;
}

.input-range__slider {
  appearance: none;
  background: teal; /*슬라이더 버튼 색상*/
  border: 1px solid bisque; /*슬라이더 버튼 외곽선*/
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.9rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out; /*버튼 눌렀을 때 애니메이션 속도 조절*/
  width: 1rem;
}
.input-range__slider:active {
  transform: scale(1.5); /* 선택한 버튼 움직임 */
}
.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(77, 9, 83, 0.2);
}
.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: teal; /*글자 라벨 색상*/
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap;
  margin-top: -0.1rem;
  margin-left: 0.3rem;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.2rem;
  position: absolute;
  color: grey;
}

.input-range__label--min {
  left: 0.6rem;
}

.input-range__label--max {
  right: 1.2rem;
}

.input-range__label--value {
  position: absolute;
  top: -1.8rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}
.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: grey; /* 슬라이드 안채워진 부분 색상 */
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.7rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}
.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
  border: 0.5px solid beige;
}

.input-range__track--active {
  background: teal; /* 슬라이드 색상 */
  border: 0.5px solid beige;
}

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
