.blend1 {
  position: absolute;
  mix-blend-mode: overlay;
}

.workCanvas {
  display: none;
}

.progress-bar {
  width: 100%;
  position: relative;
  height: 10px;
}
.progress-bar .progress {
  height: 4px;
  background-color: #ff5533;
  width: 100%;
}

/*
 * Control layouts
 */

.controls-stacked {
  margin: 1rem 0;
}
.controls-stacked .control,
.controls-stacked .progress {
  display: block;
}
.controls-stacked .control + .control,
.controls-stacked .progress + .progress {
  margin-top: 0.5rem;
}

.controls-inline {
  margin: 1rem 0;
}
.controls-inline .control {
  display: inline-block;
  height: 1rem;
}
.controls-inline .control + .control {
  margin-left: 1rem;
}

/*
 * File
 */

.file {
  position: relative;
  display: flex;
  cursor: pointer;
  height: 2.5rem;
}
.file input {
  min-width: 12rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.file-custom {
  /*흰색 영역*/
  position: absolute;
  top: 0;
  right: 0.5rem;
  left: 0.5rem; /* 버튼 간격 */
  z-index: 5;
  height: 1.25rem;
  padding: 0.5rem 0.59rem; /*글자 패딩*/
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 0.075rem solid #ddd;
  border-radius: 0.5em;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.file-source:after {
  content: "Upload a photo";
  font-size: small;
  padding-bottom: 0.3em;
}
.file-lut:after {
  content: "Upload a LUT";
  font-size: small;
}
.file-custom:before {
  /*Browsw 영역*/
  position: absolute;
  top: -0.075rem;
  left: 6.5rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 1.25rem;
  padding: 0.5rem 0.7rem; /*글자 패딩*/
  line-height: 1.9;
  color: #555;
  background-color: #eee;
  border: 0.075rem solid #ddd;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: small;
}

/* Focus */
.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #0074d9;
}

.label--selector {
  color: #0f0f0f;
  font-weight: 600;
  font-size: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.label--profile {
  color: #0f0f0f;
  font-weight: 300;
  font-size: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.profile--container {
  display: inline-flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
}
.profile--label {
  padding-right: 10px;
}

.profile--selector {
  padding-right: 10px;
  flex-direction: column;
}

.profile--btn {
}

.profile--select {
  width: fit-content;
}

.selector {
  display: table-cell;
  float: left;
  width: 50%;
  background-color: white;
}

.canvas {
  position: relative;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  margin: 3%;
}

.btn1 {
  border: 3px solid beige;
  border-radius: 10px;
  color: whitesmoke;
  background-color: teal;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
}
.btn1:hover {
  background-color: #fa7268;
}
.btn1:active {
  background-color: grey;
  color: black;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 5px 20px;
  display: inline-block;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-2 {
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  margin-bottom: 0.9em;
}

/* Button 2d */
.btn-2d {
  border-radius: 5px;
}

.btn-2d:hover {
  box-shadow: 0 8px #ab3c3c;
  top: -2px;
}

.btn-2d:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

/* Button 2g */
.btn-2g {
  border-radius: 40px;
}

.btn-2g:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

.btn-2g:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: x-large;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: initial;

  vertical-align: middle;
  text-align: center;
  font-weight: 500;
}

h5 {
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
}

#errMSG {
  margin: auto;
  display: flexbox;
  text-align: center;
  font-size: large;
  max-width: 82%;
  border-radius: 8px;
  padding: 3px;
}

#dropmsg {
  padding-top: 1em;
  color: #2f2f2f;
}

#lutmsg {
  color: #e0e0e0;
  padding-top: 1em;
}

#jsError {
  color: white;
  display: flex;
  width: 100%;
  background-color: #006b54;
}

#dropbox {
  border: 1px solid whitesmoke;

  width: 50%;
  float: left;
  background-color: #fa7268;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#lutbox {
  border: 1px solid whitesmoke;

  width: 50%;
  inline-size: auto;
  background-color: #004680;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.title {
  font-weight: 600;
  color: #2f2f2f;
}

.form {
  width: 83%;
  margin: auto;
  vertical-align: middle;
  padding: 30px;
  padding-top: 80px;
  font-size: small;
  color: #3f3f3f;
}

.loadBtnArea {
  display: flexbox;
  text-align: center;
  padding: 10px;
  align-self: auto;
}
.controlBtnArea {
  display: flexbox;
  text-align: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 35px;
}

.profileBtnArea {
  text-align: center;

  padding-bottom: 15px;
}

.input-range__slider {
  appearance: none;
  background: linear-gradient(
    90deg,
    #fe6b8b 30%,
    #ff8e53 90%
  ); /*슬라이더 버튼 색상*/
  border: 1px solid #ff8e53; /*슬라이더 버튼 외곽선*/
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.9rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out; /*버튼 눌렀을 때 애니메이션 속도 조절*/
  width: 1rem;
}
.input-range__slider:active {
  transform: scale(1.5); /* 선택한 버튼 움직임 */
}
.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(77, 9, 83, 0.2);
}
.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: #2f2f2f; /*글자 라벨 색상*/
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap;
  margin-top: -0.1rem;
  margin-left: 0.3rem;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.2rem;
  position: absolute;
  color: grey;
}

.input-range__label--min {
  left: 0.6rem;
}

.input-range__label--max {
  right: 1.2rem;
}

.input-range__label--value {
  position: absolute;
  top: -1.8rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}
.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: grey; /* 슬라이드 안채워진 부분 색상 */
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.7rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}
.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
  border: 0.5px solid beige;
}

.input-range__track--active {
  background: linear-gradient(
    45deg,
    #fe6b8b 30%,
    #ff8e53 90%
  ); /* 슬라이드 색상 */
  border: 0.5px solid beige;
}

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
